<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">lat</th>
      <th scope="col">long</th>
      <th scope="col">name</th>
      <th scope="col">light</th>
      <th scope="col">number</th>
      <th scope="col">address</th>
      <th scope="col">activate</th>
      <th scope="col">no_available</th>
      <th scope="col">total_bases</th>
      <th scope="col">dock_bikes</th>
      <th scope="col">free_bases</th>
      <th scope="col">reservations_count</th>
    </tr>
  </thead>
  <tbody>
<% if(typeof stations != "undefined") { %>
<% stations.forEach(station => { %>
  <tr>
    <td><%= station.id %></td>
    <td><%= station.latitude %></td>
    <td><%= station.longitude %></td>
    <td><%= station.name %></td>
    <td><%= station.light %></td>
    <td><%= station.number %></td>
    <td><%= station.address %></td>
    <td><%= station.activate %></td>
    <td><%= station.no_available %></td>
    <td><%= station.total_bases %></td>
    <td><%= station.dock_bikes %></td>
    <td><%= station.free_bases %></td>
    <td><%= station.reservations_count %></td>
  </tr>
<% }) %>
<% } %>
  </tbody>
</table>
