<h2>Issues of bike number <%= bike.referenceId %></h2>
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">type</th>
            <th scope="col">referenceId</th>
            <th scope="col">userId</th>
            <th scope="col">message</th>
        </tr>
    </thead>
    <tbody>
    <% if(typeof issues != "undefined") { %>
    <% issues.forEach(issue => { %>
    <tr>
        <td><a href="/issue/<%= issue._id %>"><%= issue._id %></a></td>
        <td><%= issue.type %></td>
        <td><%= issue.referenceId %></td>
        <td><%= issue.userId %></td>
        <td><%= issue.message %></td>
        <% if( issue.userId.equals(user._id) || user.role == "ADMIN") { %>
        <td><a href="/issue/edit/<%= issue._id %>"><button type="button" class="btn btn-warning navbar-btn">Edit</button></a></td>
        <td><a href="/issue/delete/<%= issue._id %> %>"><button type="button" class="btn btn-danger navbar-btn">Delete</button></a></td>
        <% } %>
    </tr>
    <% }) %>
    <% } %>
    </tbody>
</table>