<section>
  <div id="map"></div>
</section>
<section class="probootstrap-cover col-md-4">
  <div class="form-wrap delete-margin-bottom">
    <div class="panel">
      <img class="img-fluid" src="<%= user.imageUrl %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= user.name %></h5>
        <ul>
          <li class="small">EMAIL: <%= user.email %></li>
          <li class="small">CARD NUMBER: <%= user.cardNumber %></li>
        </ul>
        <div class="card-group">
          <div class="add-margin">
            <a href="/user/edit/<%= user._id %>"><button type="button" class="btn btn-warning navbar-btn">Edit</button></a>
          </div>
          <div>
            <form action="/user/delete/<%= user._id %>">
              <button type="submit" formmethod="post" class="btn btn-danger navbar-btn">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script src="/javascripts/station_seeds.json"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-ESQGMZa8GDXZrIg826Xo9Rh9QI34SGE">
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {packages: ['corechart']});
</script>
<script type="text/javascript" src="/javascripts/CustomMarker.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>
